<style>
  .designer-section {
    max-width: {{ section.settings.section_width }}px;
    margin-inline: auto;
    display: flex;
    flex-direction: {{ section.settings.section_flex_direction }};
    gap: {{ section.settings.section_gap_between }}px;
    background: {{ section.settings.section_bg }}
  }

  {% if section.settings.section_flex_direction == 'row' %}
    .designer-section {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      padding-inline: 20px;
    }

    .designer-section::-webkit-scrollbar {
       display: none;
    }

    .designer-section .designer-card {
      flex: 0 0 40%;
      scroll-snap-align: start;
    }

  {% endif %}

  .designer-card {
    display: flex;
    align-items: {{ section.settings.card_align_items }};
    gap: {{ section.settings.gap_inner }}px;
    flex-direction: {{ section.settings.content_flex_direction }};
    background: {{ section.settings.card_bg }};
  }

  .designer-card__image img {
    width: {{ section.settings.image_width }};
    border-radius: {{ section.settings.img_border_radius }}px;
    object-fit: {{ section.settings.fit }};
    height: 100%;
  }

  .designer-card__content {
    max-width: 600px;
    padding-inline: {{ section.settings.content_padding_inline }}px;
  }

  .designer-card__title {
    font-size: {{ section.settings.title }}px;
    font-weight: {{ section.settings.title_font_weight }};
    margin: 0;
    margin-bottom: 12px;
    color: {{ section.settings.title_color }};
  }

  {% if section.settings.card_bg == '#fff' %}
    .designer-card__title,.designer-card__description {
      color: #000;
    }

    {% elsif section.settings.card_bg == '#000' %}
    .designer-card__title,.designer-card__description {
      color: #fff;
    }

    .designer-card__link {
      background: #fff;
      color: #000;
    }

    {% elsif section.settings.card_bg == '#797979' %}
    .designer-card__title,.designer-card__description {
      color: #000;
    }

    .designer-card__link {
      background: #fff;
      color: #000;
    }

  {% endif %}

  .designer-card__description {
    font-size: {{ section.settings.description_font_size }}px;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 16px;
  }

  .designer-card__link {
    display: inline-block;
    padding: 10px 16px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }

</style>

<section class="designer-section">
  {% for designer in shop.metaobjects.designer.values %}
    <div class="designer-card">

      {% if designer.image %}
        <div class="designer-card__image">
          <img
            src="{{ designer.image | img_url: '700x' }}"
            alt="{{ designer.name }}"
            loading="lazy"
          >
        </div>
      {% endif %}

      <div class="designer-card__content">
        {% if designer.name %}
          <h2 class="designer-card__title">
            {{ designer.name }}
          </h2>
        {% endif %}

        {% if designer.description %}
          <p class="designer-card__description">
            {{ designer.description }}
          </p>
        {% endif %}

        {% if designer.url %}
          <a
            href="{{ designer.url }}"
            class="designer-card__link"
          >
            Learn more
          </a>

        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Designers",

  "settings": [

    {
      "type": "header",
      "content": "Layout"
    },

    {
      "type": "select",
      "id": "section_flex_direction",
      "label": "section flex direction",
      "default": "column",

      "options": [

        {
          "value": "row",
          "label": "row",
        },

        {
          "value": "column",
          "label": "column"
        },

      ]
    },

    {
      "type": "select",
      "id": "content_flex_direction",
      "label": "content flex direction",
      "default": "row",

      "options": [

        {
          "value": "row",
          "label": "row"
        },

        {
          "value": "column",
          "label": "column"
        }

      ]
    },

    {
      "type": "range",
      "id": "section_width",
      "label": "section width",
      "min": 1200,
      "max": 1900,
      "step": 100,
      "default": 1200,
      "unit": "px"
    },

    {
      "type": "range",
      "id": "section_gap_between",
      "label": "section items gap",
      "min": 20,
      "max": 80,
      "step": 10,
      "default": 40,
      "unit": "px"
    },

    {
      "type": "range",
      "id": "gap_inner",
      "label": "content gap",
      "min": 20,
      "max": 40,
      "step": 4,
      "default": 20,
      "unit": "px"
    },

    {
      "type": "select",
      "id": "card_align_items",
      "label": "content alignment",
      "default": "center",

      "options": [

        {
          "value": "center",
          "label": "center"
        },

        {
          "value": "flex-start",
          "label": "flex-start",
        },

        {
          "value": "flex-end",
          "label": "flex-end"
        }
      ]
    },

    {
      "type": "select",
      "id": "fit",
      "label": "image fit",
      "default": "cover",

      "options": [
        {
          "value": "cover",
          "label": "cover"
        },

        {
          "value": "fill",
          "label": "fill"
        }

      ]
    },

    {
      "type": "header",
      "content": "Contents Size"
    },

    {
      "type": "select",
      "id": "image_width",
      "label": "image width",
      "default": "500px",

      "options": [
        {
          "value": "500px",
          "label": "small",
        },

        {
          "value": "700px",
          "label": "large",
        },

      ]
    },

    {
      "type": "range",
      "id": "img_border_radius",
      "label": "image border-radius",
      "min": 0,
      "max": 20,
      "step": 4,
      "default": 0,
      "unit": "px"
    },

    {
      "type": "range",
      "id": "title",
      "label": "Title font size",
      "min": 28,
      "max": 48,
      "step": 2,
      "default": 28,
      "unit": "px"
    },

    {
      "type": "select",
      "id": "title_font_weight",
      "label": "Title font-weight",
      "default": "700",

      "options": [

        {
          "value": "700",
          "label": "Bold"
        },

        {
          "value": "600",
          "label": "Medium"
        },

        {
          "value": "500",
          "label": "Regular"
        },

      ]
    },

    {
      "type": "range",
      "id": "description_font_size",
      "label": "Description font size",
      "min": 10,
      "max": 30,
      "step": 2,
      "default": 16,
      "unit": "px"
    },

    {
      "type": "range",
      "id": "content_padding_inline",
      "label": "contetn padding inline",
      "min": 0,
      "max": 40,
      "step": 2,
      "default": 0,
      "unit": "px"
    },

    {
      "type": "header",
      "content": "Design"
    },

    {
      "type": "select",
      "id": "section_bg",
      "label": "section background",

      "options": [

        {
          "value": "#000",
          "label": "Black"
        },

        {
          "value": "#797979",
          "label": "Gray"
        },

        {
          "value": "#fff",
          "label": "White"
        },

      ],

      "default": "#fff"
    },

    {
      "type": "select",
      "id": "card_bg",
      "label": "cards background",

      "options": [

        {
          "value": "#000",
          "label": "Black"
        },

        {
          "value": "#797979",
          "label": "Gray"
        },

        {
          "value": "#fff",
          "label": "White"
        },

      ],

      "default": "#fff"
    },

  ],

  "presets": [
    {
      "name": "Designers"
    }
  ]
}
{% endschema %}
